/**
 * Estilos principales de la aplicación
 * Importa todos los módulos CSS
 */
@import './styles/variables.css';
@import './styles/base.css';
@import './styles/header.css';
@import './styles/card.css';
@import './styles/form.css';
@import './styles/buttons.css';
@import './styles/table.css';
@import './styles/alert.css';
@import './styles/loading.css';
@import './styles/modal.css';
